@import '~flag-icon-css/sass/flag-icon.scss';
.service-bottom {
    margin-top: 15px !important;
}

.footer-top {
    padding-top: 47px !important;
    padding-bottom: 0 !important;
}

.imgb {
    background-color: rgba(0, 0, 0, 0.1);
}

.pos {
    margin-left: 250px;
    margin-top: 30px;
}

.pos-language1 {
    margin-left: 25px;
}

.most-demand-div {
    display: flex !important;
    justify-content: center !important;
}

#hero {
    background-size: cover !important;
    animation: hero-slide 50s infinite !important;
    transition: all 0.5s;
}

@keyframes hero-slide {
    0% {
        background: url("/Anyar/assets/img/c4.jpg") top center;
    }
    20% {
        background: url("/Anyar/assets/img/fond2.jpg") top center;
    }
    40% {
        background: url("/Anyar/assets/img/fond3.jpg") top center;
    }
    60% {
        background: url("/Anyar/assets/img/c1.jpg") top center;
    }
    60% {
        background: url("/Anyar/assets/img/cta-bg.jpg") top center;
    }
    100% {
        background: url("/Anyar/assets/img/fond1.jpg") top center;
    }
}

.why-us-img {
    background-size: cover !important;
    background-image: url("/Anyar/assets/img/c5.jpg") !important;
}

.custom-fixed-header {
    /*position: fixed;*/
    top: 0 !important;
    background: rgba(5, 87, 158, 0.9) !important;
}

.about-logo {
    width: 200px;
    height: auto;
    object-fit: contain;
    margin-bottom: 15px;
}

.about-infos {
    font-style: normal !important;
    text-align: justify !important;
}

.img-team {
    height: 180px !important;
    width: 180px !important;
}

.img-team1 {
    height: 200px;
    width: 150px;
}
